*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 80%;
    padding: 30px;
    margin: auto;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(los-santos-at-night-gta5-hd-wallpaper-preview.jpg);
    

    
    
}
div{
    border: 2px solid #000;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(245, 237, 237);
}
.michel{
    float:left
}

.franklin{
    float:right;
}