*{
    background-color: #d1c8a3;
    
}
.sect{
    background-color: #c6ad71;
    font-size: 25px;
    border: 1px solid #acba9d;
}

h2{
    color: #e3604d;
}

h3{
    color: #e3604d;
}

h4{
    color: #e3604d;
}


