body {
    background-color: rgb(20, 117, 228);
    color: #333CFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    font-size: 20px;
    font-weight: 100;
}
p {
    font-size: 1em;
    font-style: normal;
   
}

.neyzinho_paysandu{
    font-size: 20px;
    line-height: 23px;
}