h1{
    background-color: gray;
    color: blue;
    border: 2px solid green;
}
.sese{
    color: brown;
}
#primerio_nome{
    background-color:darkblue
    
}
#segundo_nome{
    background-color: aqua;


}


