body {
    background-color: red;
}
header {
    text-align: center;
}
.container div {
    border: 5px black solid;
    padding: 30px;
    justify-self: start;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 15px black;
    padding: 10px;
}
h2 {
    color: yellow;
    display: flex;
}
.lenin {
    color: yellow;
    justify-content: flex-start;
    display: flex;
}
.marx {
    color: yellow;
    display: flex;
    justify-content: flex-start;
}

.stalin {
    color: yellow;
    display: flex;
    justify-content: flex-end;
}
.urss {
    color: yellow;
}
